
<!DOCTYPE html>
<html>
  <head>
    <title>DungeonArena</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'dungeon_favicon' %>

    <!--  Import Font Awesome icons  <-->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
  </head>

  <body>
    <div class="h-screen flex">
      <%= render "layouts/aside" %>

      <main class="flex-1 bg-zinc-800 p-4 sm:ml-auto">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <% if current_user %>
          <%= yield %>
        <% else %>
          <div class="container mx-auto mt-6">
            <p class="text-gray-300 text-center">Please, <%= link_to "Login", new_user_session_path, class: "text-blue-400 hover:text-blue-500" %> before continuing. </p>
          </div>
        <% end %>
      </main>
    </div>
  </body>
  <script>
    document.cookie = `sidebar_expanded=false`;
  </script>
</html>



